<h2> Add a new comment</h2>
<!-- when the user clicks send the data is sent to the url specified with the post.id as a parameter  -->
<form action="{% url "blog:post_comment" post.id %}" method='post'>
    <!-- field_groups allow you to easly customize form rendering -->
    <div class="left">
        {{ form.name.as_field_group }}
    </div>
    <div class="left">
        {{ form.email.as_field_group }}
    </div>
    {{ form.body.as_field_group }}
    {% csrf_token %}
    <p><input type="submit" value='Add comment'></p>
</form>